:root {
  --font-family: 'Allianz Neo';
  --font-color: #414141;
  --header-background-color: #FFFFFF;
  --header-font-color: #FFFFFF;
  --footer-background-color: #FFFFFF;
  --footer-font-color: #FFFF;
  --button-primary-color: #008ED6;
  --button-secondary-color: #FFFFFF;
}