:root {
  --font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  --font-color: #414141;
  --header-background-color: #008ED6;
  --header-font-color: #FFFFFF;
  --footer-background-color: #009ED6;
  --footer-font-color: #FFFF;
  --button-primary-color: #3DA556;
  --button-secondary-color: #DC3149;
}